.summary{
    width: 100%;
    background-color: #FFE0B3;
    padding: 2%;
    position: sticky;
    height: 100vh;
    top: 0px;
}
.summary h2{
    text-align: center;
    margin: 25px 0;
}
.btn-group{
    display: flex;
    flex-direction: column;
}
.btn-group button{
    padding: 10px 0px;
    margin: 20px;
    background-color: #FF3030;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    border: 0;
}
.btn-group button:active{
    background-color: rgb(177, 0, 0);
}
.btn-group button:last-child{
    background-color: #FF9900;
}
.btn-group button:last-child:active{
    background-color: #d18100;
}
