header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 25px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}